@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  width: 100%;
  color: #777;
}
body{
  box-sizing: border-box;
  /* background-color: #f9f9f9; */
  font-family: 'Gowun Batang', serif;
  background-color: #f9f9f9;
}